@import './base.css';

#app{
  padding: 10px;
}
.jin {
  color: rgb(214, 214, 61);
}

.mu {
  color: rgb(71, 219, 13);
}

.shui {
  color: rgb(82, 154, 246);
}

.huo {
  color: rgb(218, 73, 73);
}

.tu {
  color: rgb(131, 90, 3);
}
